@model IEnumerable<Accomplishment>

@* @foreach (var complete in Model) {
<tr>
            <td>
                @if (Model.active)Html.DisplayFor(
                <script type="text/javascript">
                var total_images = 3;
                var random_number = Math.floor((Math.random()*total_images));
                var random_img = new Array();
                random_img[0] = '<a href="page1.html"><img src="https://www.pngmart.com/files/4/Croissant-PNG-File.png" width="100px"></a>';
                random_img[1] = '<a href="page2.html"><img src="https://pngimg.com/uploads/mug_coffee/mug_coffee_PNG16855.png" width="100px"></a>';
                random_img[2] = '<a href="page3.html"><img src="https://pennsyderm.com/wp-content/uploads/Green-Tea-PNG.png" width="100px"></a>';
                document.write(random_img[random_number]);
                </script>)
            </td>
</tr>
} *@

