body
{
font: "Trebuchet MS", Verdana, sans-serif;
background-color: #eb9fef;
color: black;
}

h1.booger 
{
font-family: "Lucida Console", monospace;
color: rgb(160, 0, 80);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}